<div class="  grid-margin stretch-card" style="opacity:1">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Material</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" enctype="multipart/form-data" action="/material/upload" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">关键字</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="key" placeholder="北京">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">功能</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" name="desc" placeholder="消息回复">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">类型</label>
                    <select class="form-control" name="type">
                        <option value="0">永久素材</option>
                        {#                        <option value="1">临时素材</option>#}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">素材类型</label>
                    <select class="form-control" name="materialType">
                        <option value="image">图片</option>
                        <option value="voice">语音</option>
                        <option value="video">视频</option>
                        <option value="thumb">缩略图</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>上传素材</label>
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="......">
                        <span class="input-group-btn">
                              <input type="file" name="file" id="excelFile" style="display:none">
                          <button class="file-upload-browse btn btn-info" type="button"
                                  onclick="selectFile()">Upload</button>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button type="button" class="btn btn-light" onclick="onHide()">Cancel</button>
            </form>
        </div>
    </div>
</div>