<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/home">
            <span class="menu-title">主页</span>
            <span class="menu-sub-title"></span>
            <i class="mdi mdi-home menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/material">
            <span class="menu-title">素材查询</span>
            <span class="menu-sub-title"></span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/keyword">
            <span class="menu-title">关键词查询</span>
            <span class="menu-sub-title"></span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
    </li>
</ul>