<div class="  grid-margin stretch-card" style="opacity:1">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Material</h4>
            <p class="card-description">
            </p>
            <form id="tijiao" class="forms-sample" enctype="multipart/form-data" action="/keyword/insert" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">关键字</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="mediaKey" placeholder="北京">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">素材选择</label><br>
                    <input style="display: none" id="mediaIds" name="mediaIds">
                    {% for data in  mate_list %}
                        <label class="form-check-label" title="{{ data.desc }}" style="width: 100px;">
                            <input type="checkbox" class="form-check-input" name="med"
                                   materialType="{{ data.material_type }}" materialName="{{ data.key }}"
                                   value="{% if data.material_type == 'text' %}
                                             {{ data.desc }}
                                             {% else %}
                                             {{ data.media_id }}
                                            {% endif %}"> {{ data.key }} <i class="input-helper"></i>
                        </label>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-success mr-2" onclick="clic()">Submit</button>
                <button type="button" class="btn btn-light" onclick="onHide()">Cancel</button>
            </form>
        </div>
    </div>
</div>
<script>
    function clic() {
        obbj = document.getElementsByName('med')
        check_val = []
        obbj.forEach(ob => {
                if (ob['checked']) {
                    check_val.push({
                        'id': ob['value'],
                        'type': ob.getAttribute("materialType"),
                        'name': ob.getAttribute('materialName')
                    })
                }
            }
        )
        console.log(check_val)
        document.getElementById('mediaIds').value = JSON.stringify(check_val)
        document.getElementById("tijiao").submit();
    }
</script>