<div id="exMark" style="display:none">{% include './keyword/mask.html' %}</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Keyword</h4>
                <button type="button" class="btn btn-danger" onclick="onshow()"><i class="mdi mdi-upload"></i>新建
                </button>
                <div style="height: 10px"></div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            关键字
                        </th>
                        <th>
                            删除所属素材
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <script>
                    </script>
                    {% for data in list %}
                        <tr>
                            <td>
                                {{ data.key }}
                            </td>
                            <td>
                                {% for da in data.value %}
                                    <form action="/keyword/del" method="post"
                                          style="float:left;padding-right: 2px" onsubmit="return sumbit_sure()">
                                        <input style="display:none" name="value" value="{{ da.key }}">
                                        <input style="display:none" name="key" value="{{ data.key }}">
                                        <button type="submit"
                                                class="btn dddas btn-success">{{ da.value.name }}</button>
                                    </form>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<style>
    .dddas {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.4375rem;
        vertical-align: top;
        border-top: 1px solid #e6ecf5;
        width: 90px;
    }
</style>
