<div class="  grid-margin stretch-card" style="opacity:1">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Follow</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" enctype="multipart/form-data" action="/follow/up" method="post">
                <div class="form-group">
                    <label for="exampleTextarea1">内容</label>
                    <textarea class="form-control" name="value" id="exampleTextarea1" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button type="button" class="btn btn-light" onclick="onHide()">Cancel</button>
            </form>
        </div>
    </div>
</div>