<div class="  grid-margin stretch-card" style="opacity:1">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Material</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" enctype="multipart/form-data" action="/sys/ins" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">姓名</label>
                    <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="尼古拉斯赵四">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">账号</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" name="account"
                           placeholder="admin123@123">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">密码</label>
                    <input type="text" class="form-control" id="exampleInputEmail3" name="pwd" placeholder="***">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">性别</label>
                    <select class="form-control" name="sex">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button type="button" class="btn btn-light" onclick="onHide()">Cancel</button>
            </form>
        </div>
    </div>
</div>